<div class="card-work">
  <img src="images/Snapshoot Portfolio.png" alt="" />
  <div class="card-info-box">
    <h2>Tonic</h2>
    <ul class="client">
      <li class="client-name">CANOPY</li>
      <li><div class="counter"></div></li>
      <li class="client-info">Back End Dev</li>
      <li><div class="counter"></div></li>
      <li class="client-info">2015</li>
    </ul>
    <p class="clint-info-text">
      A daily selection of privately personalized reads; no accounts or sign-ups
      required.
    </p>
    <div class="framework-box">
      <span class="framework btn--normal">html</span>
      <span class="framework btn--normal">css</span>
      <span class="framework btn--normal">javascript</span>
    </div>
    <div><button class="btn btn--normal">See Project</button></div>
  </div>
</div>
